@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  body {
    position: relative;
    height: 100%;
  }
}
ul,
li,
img,
nav,
header,
span,
p {
  margin: 0;
}
body {
  position: relative;
}
.pages_iconRight {
  height: 30vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  z-index: 200000000;
}
.pages_iconRight .page_iconDisciption {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: calc(100% / 4) !important;
}
.page_iconDisciption .page_icon:hover + .displayHeater {
  display: block;
  width: 137.91px;
}
.pages_iconRight .page_iconDisciption .displayHeater {
  padding: 0 0.5rem;
  color: white;
  height: 100%;
  display: none;
}
.pages_iconRight .page_icon {
  width: 45.95px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}
.pages_iconRight .page_icon i {
  color: white;
  font-size: 1.2rem;
}
.pages_iconLeft {
  height: 15vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  z-index: 200000000;
}
.pages_iconLeft .page_iconDisciption {
  height: calc(100% / 2) !important;
  width: 45.95px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}
.pages_iconLeft .page_icon i {
  color: white;
  font-size: 1.2rem;
}

.scroll_bar {
  position: fixed;
  bottom: 7%;
  right: 5%;
  z-index: 20000000000;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
/* start header */
header {
  background-color: #18191b;
  position: sticky;
  z-index: 10000000;
  top: 0;
  left: 0;
}
nav {
  background-color: #18191b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0rem;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 11px;
}
.ul_Basic {
  display: flex;
  gap: 2.8rem;
}
.ul_Basic li::marker {
  color: #fab702;
}
a {
  color: white;
  text-decoration: none;
}
.ul_Basic li:hover {
  position: relative;
}
.ul_Basic li:hover {
  color: #fab702;
}
.no-bullet {
  list-style-type: none;
}
.dropdown__menu {
  display: none;
}
.dropdown__menu {
  display: block;
  position: absolute;
  top: 100%;
  left: -50%;
  background-color: #18191b;
  padding-top: 1.7rem;
}
.dropdown__menu ul {
  display: block;
  list-style-type: none;
  /* ulعشان اشيل المسافة الافتراضية لل */
  margin: 0;
  padding: 0;
}
.dropdown__menu ul li {
  width: 200px;
  padding: 0.5rem 1rem;
  border-bottom: 1px #888;
}
.dropdown__menu ul li:hover {
  background-color: #fab702;
}
.dropdown__menu ul li {
  border-bottom: #888 0.7px solid;
}
.dropdown__menu ul li:last-child {
  border-bottom: none;
}
/* end header */

/* start HeroSEction_project */
.HeroSEction_project {
  background-image: url("../image//imagesection1.jpg");
  width: 100%;
  background-position: center center;
  background-size: cover;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  position: relative;
}
.HeroSEction_project::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.311);
  z-index: 1;
}
.HeroSEction_project .row {
  color: white;
  width: 100%;
  align-items: center;
}
.HeroSEction_project span {
  color: #fab702;
}
/* end HeroSEction_project */

/* start footer */
.footer {
  background-color: #111111;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5%;
  padding: 4%;
}
.footer .row > div {
  width: calc(98% / 3) !important;
  display: flex;
  flex-direction: column;
}
.discriptionAbout {
  background-color: #111111;
  align-content: start;
  gap: 2rem;
}
.discriptionAbout p {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #ddd;
  line-height: 1.8em;
}
.LatestNews h5,
.contactUs h5 {
  letter-spacing: 3px;
  font-size: 20px;
  color: white;
}
.LatestNews .countainerLinks {
  display: flex;
  flex-direction: column;
}
.LatestNews .countainerLinks a {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #ddd;
  line-height: 1.8em;
  text-decoration: none;
  border-bottom: 1px solid #88888828;
  padding: 0.3rem 0;
}
.countainerLinks_contactUs {
  display: flex;
  flex-direction: column;
}
.countainerLinks_contactUs .countainerLink {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #8888882b;
  width: 100%;
  padding: 0.2rem 0;
}
.countainerLinks_contactUs .countainerLink span {
  color: #fab702;
  font-weight: bold;
  line-height: 1.428571429;
  width: 20%;
}
.countainerLinks_contactUs .countainerLink p {
  color: white;
}
/* end footer */

/* start anotherFooter */
.anotherFooter {
  background-color: black;
}
.anotherFooter p {
  color: white;
  height: 23px;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.anotherFooter span {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-size: 16px;
  color: #fab702;
  line-height: 1.8em;
}
.anotherFooter div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  color: white;
}

/* end anotherFooter */

/* start media queries */
@media (max-width: 1000px) {
  .menu {
    display: block !important;
  }
  .ul_Basic {
    display: none;
  }
}
/* من شاشة كبيرة جدا الي ديسكتوب */
@media (min-width: 1280px) and (max-width: 1920px) {
}
/* من ديسكتوب الي لابتوب */
@media (min-width: 1024px) and (max-width: 1280px) {
}
/* من لابتوب الي تابلت */
@media (min-width: 768px) and (max-width: 1023px) {
  .footer .row > div {
    width: calc(94% / 2) !important;
  }
  .footer .row {
    gap: 2.5rem;
  }
  .shopCards .row {
    flex-direction: column;
    gap: 1rem;
  }
  .shopCards main .containerCards .Card {
    width: calc(93.5% / 3);
  }
}
/* من تابلت الي موبايل */
@media (min-width: 480px) and (max-width: 768px) {
  .footer .row > div {
    width: calc(94% / 1) !important;
  }
  .footer .row {
    gap: 2.5rem;
  }
  .shopCards .row {
    flex-direction: column;
    gap: 1rem;
  }
  .shopCards main .containerCards .Card {
    width: calc(93.5% / 2);
  }
}
/* من موبايلات الي شاشان صغيرة جدا */
@media (max-width: 480px) {
  .footer .row > div {
    width: calc(95% / 1) !important;
  }
  .footer .row {
    gap: 2.5rem;
  }
  .shopCards .row {
    flex-direction: column;
    gap: 1rem;
  }
  .shopCards main .containerCards .Card {
    width: calc(93.5% / 1);
  }
}
/* end media queries */
